* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

#wrapper {
  width: 100%;
  height: 100vh;
}
#header {
  background-color: #f9f9f9;
  color: aliceblue;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#menu {
  list-style: none;
  display: flex;
}

#menu .item {
  margin: 0px 25px;
  font-size: 20px;
  margin-right: 70px;
}

#menu .item a {
  color: #6d6d74;
  text-decoration: none;
  transition: 1s;
}
#menu .item a:hover {
  color: #0b0b0b;
  cursor: pointer;
}
#header .Logo {
  padding-bottom: 10px;
  padding-left: 70px;
}
#banner {
  width: 100%;
  background-image: url("https://blog.e2.com.vn/wp-content/uploads/2021/05/news_pisa_1.jpg");
  height: 480px;
  display: flex;
  padding: 0px 133px;
  position: relative;
}
.overlay {
  width: 100%;
  height: 480px;
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.45;
  z-index: 1;
}
#banner .box-left,
#banner .box-right {
  width: 50%;
}

#banner .box-left h2 {
  font-size: 48px;
  margin-top: 75px;
  color: #fff;
}

#banner .box-left p {
  color: #d0d0d0;
}

#banner .box-left button {
  width: 191px;
  height: 50px;
  margin-top: 250px;
  background: #000000;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  transition: 1s;
  font-size: 20px;
    z-index: 15;
}

#banner .box-left button:hover {
  background: rgb(255, 252, 246);
  color: #0b0b0b;
}
#product {
  margin-top: 170px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#product .intro {
  margin-left: 350px;
  width: 480px;
  height: 400px;
  text-align: right;
  background-color: antiquewhite;
  margin-top: 50px;
}
#product .pus {
  margin-right: 70px;
}
#product .intro h2 {
  font-size: 45px;
  border-bottom: solid #0b0b0b;
  width: 350px;
  margin-left: 170px;
}
#footer {
  background-color: #e9e5e5;
  color: #999;
  padding: 60px 0 28px;
  align-content: flex-end;
  display: flex;
}
#footer .inner {
  margin: 0 auto;
  width: 1140px;
}
#footer .inner h3 {
  color: #fff;
  margin-top: 3px;
  margin-bottom: 25px;
}
#footer .inner .about-us {
  float: left;
  width: 360px;
}
#footer .inner .about-us .logo {
  margin-bottom: 42px;
}
#footer .inner > div {
  float: left;
  margin-right: 30px;
}
#footer .inner > div:last-child {
  margin-right: 0;
}
#footer .inner .info-link,
#footer .inner .contact-detail {
  width: 260px;
}
#footer .inner .social {
  width: 165px;
}
#footer .inner ul.link-list li {
  border-bottom: 1px dashed #363636;
  font-size: 15px;
  margin-bottom: 11px;
  padding-bottom: 9px;
}
#footer .inner ul.link-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#footer .inner ul.link-list li a {
  color: #7a7979;
  text-decoration: none;
  transition: 0.3s color;
}
#footer .inner ul.link-list li a:hover {
  color: #fff;
}
#footer .inner ul.link-list li i {
  border-right: 1px dashed #363636;
  padding-right: 16px;
  margin-right: 14px;
  font-size: 14px;
}
#footer .inner ul.link-list li address {
  font-style: normal;
}
 
